.App {
  text-align: center;
}

.Container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(transparent 90%, white), url(./images/background/skybees.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}